<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MonogStoreTestSuite" verbose="1">
    <test name="MonogStoreTest">
        <classes>
            <!-- Skipping tests-->
            <!-- <class name="org.wso2.siddhi.extension.store.mongodb.ConditionVisitorTest" />
             <class name="org.wso2.siddhi.extension.store.mongodb.ContainsMongoTableTest" />
             <class name="org.wso2.siddhi.extension.store.mongodb.DefineMongoTableTest" />
             <class name="org.wso2.siddhi.extension.store.mongodb.DeleteFromMongoTableTest" />
             <class name="org.wso2.siddhi.extension.store.mongodb.InsertIntoMongoTableTest" />
             <class name="org.wso2.siddhi.extension.store.mongodb.JoinMongoTableTest" />
             <class name="org.wso2.siddhi.extension.store.mongodb.UpdateMongoTableTest" />
             <class name="org.wso2.siddhi.extension.store.mongodb.UpdateOrInsertMongoTableTest" />-->
        </classes>
    </test>
</suite>
