<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MonogStoreTestSuite" verbose="1">
    <test name="MonogStoreTest">
        <classes>
            <!-- Skipping tests-->
            <!--        <class name="org.wso2.extension.siddhi.store.mongodb.ConditionVisitorTest"/>
                        <class name="org.wso2.extension.siddhi.store.mongodb.DefineMongoTableTest" />
                        <class name="org.wso2.extension.siddhi.store.mongodb.InsertIntoMongoTableTest" />
                        <class name="org.wso2.extension.siddhi.store.mongodb.JoinMongoTableTest" />
                        <class name="org.wso2.extension.siddhi.store.mongodb.UpdateMongoTableTest" />
                        <class name="org.wso2.extension.siddhi.store.mongodb.DeleteFromMongoTableTest" />
                        <class name="org.wso2.extension.siddhi.store.mongodb.ContainsMongoTableTest" />
                        <class name="org.wso2.extension.siddhi.store.mongodb.UpdateOrInsertMongoTableTest" />-->
        </classes>
    </test>
</suite>
